{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-card">

    <h2 class="auth-title">Reset Password</h2>

    <form method="post" class="auth-form">
      {% csrf_token %}
      {{ form.password }}
      {{ form.confirm_password }}
      <button type="submit" class="auth-submit">Reset Password</button>
    </form>

    <p class="auth-subtitle">
      Go back to 
      <a href="{% url 'login' %}">Login</a>
    </p>

  </div>
</div>
{% endblock %}
