{% extends "base.html" %}
{% block content %}

<div class="order-success-box">
  <h3>✅ Your order has been placed successfully!</h3>

  <p>
    Thank you for your order. We have received your request and it is being processed.
  </p>

  <p><strong>Order #:</strong> {{ order.id }}</p>
  <p><strong>Total:</strong> ₹{{ order.total_amount }}</p>
  <p><strong>Status:</strong> {{ order.status }}</p>
  <p><strong>Placed on:</strong> {{ order.created_at }}</p>

  {% if order.payment_method == "UPI" %}
  <p>Payment received and currently under verification.</p>
{% elif order.payment_method == "COD" %}
  <p class="info">
      🚚 Cash on Delivery selected.
      <br>
      Please keep the amount ready at the time of delivery.
    </p>
{% endif %}
</div>

{% endblock %}
