{% extends "base.html" %}
{% block title %}{{ plant.name }}{% endblock %}
{% block content %}
  <h2>{{ plant.name }}</h2>
<div class="product-card">
 {% if plant.image %}
  <a href="{{ plant.image.url }}" target="_blank" class="image-link">
    <img src="{{ plant.image.url }}" alt="{{ plant.name }}" class="product-image">
  </a>
 {% else %}
  <img src="/static/images/ai_placeholder.jpg" alt="{{ plant.name }}" class="product-image">
 {% endif %}
  <div class="product-info">
    <p class="product-description">{{ plant.description }}</p>
    <p><strong>Size:</strong> {{ plant.size }}</p>
    <p class="product-price">₹{{ plant.price }}</p>
    <a href="{% url 'add_to_cart' plant.pk %}" class="btn">Add to cart</a>
  </div>
</div>
{% endblock %}
